# Environment variables for application
PORT=8000
ENV="development"

# Database connection string
DATABASE_URI="postgres://signet:signet@db:5432/signet?sslmode=disable"
DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=25
DATABASE_MAX_IDLE_TIME="15m"

# Rate limiter settings
RATE_LIMITER_RPS=5
RATE_LIMITER_BURST=10
RATE_LIMITER_ENABLED=true