@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Italic-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-inter: 'Inter', 'sans-serif';
  --font-karla: 'Karla', 'sans-serif';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  background-color: #141718;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
}

h2 {
  @apply font-inter text-5xl font-bold -tracking-[.025em]
}
